<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
    <title>404</title>
</head>
<body>
    <header class="main-header">
        <nav class="nav main-nav">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/store">STORE</a></li>
                <li><a href="/about">ABOUT</a></li>
            </ul>
        </nav>
        <h1 class="band-name band-name-large">Israel's Store</h1>
        
        
    </header>
    
    <section>
        <h1>404: An Error Occurred</h1>
        <h1>Please check the address and try again.</h1>
    </section>

    <footer class="main-footer home-footer">
        <div class="container main-footer-container">
            <h3 class="band-name">Israel's Store</h3>
            <ul class="nav footer-nav">
                <!-- <li>
                    <a href="https://www.youtube.com" target="_blank">
                        <img src="Images/YouTube Logo.png">
                    </a>
                </li> -->
                <li>
                    <a href="https://web.whatsapp.com" target="_blank">
                        <img src="Images/WhatsApp.svg.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com" target="_blank">
                        <img src="Images/58978526_10158354585751729_7411073224387067904_n.png">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>